:root {
    --darkblue: #2718AD;
    --darkgray: #423C7A;
    --blue: #367FE0;
    --lightbrown: #E4AF70;
    --brown: #AD6A3E;
}

Header {
    background-color: #c75d16;
}

.card-image {
    background-color: #c75d16;
}

.title {
    font-family: "Anton", serif;
    color: black;
}

.section {
    border-right: 50px solid #c75d16;
    border-left: 50px solid #c75d16;
    border-bottom: 40px solid #c75d16;
    background-color: lightgray;
}



:root {
    --darkblue: #2718AD;
    --darkgray: #423C7A;
    --blue: #367FE0;
    --lightbrown: #E4AF70;
    --brown: #AD6A3E;
}

.hero-body {
    font-family: "Anton", serif;
    text-align: center;
}

img {
    border: black solid 6px;
    border-radius: 5px;
}


