Header {
    border-bottom: 10px solid blue;
    border-right: 10px solid blue;
    border-left: 10px solid blue;
}

.card-image {
    background-color: blue;
}



:root {
    --darkblue: #2718AD;
    --darkgray: #423C7A;
    --blue: #367FE0;
    --lightbrown: #E4AF70;
    --brown: #AD6A3E;
}

.hero-body {
    font-family: "Anton", serif;
    text-align: center;
}

img {
    border: black solid 6px;
    border-radius: 5px;
}

